USE [TN_HTPT]
GO
/****** Object:  User [HTKN]    Script Date: 12/4/2023 8:13:48 AM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_CT_BAITHI]    Script Date: 12/4/2023 8:13:48 AM ******/
CREATE TYPE [dbo].[TYPE_CT_BAITHI] AS TABLE(
	[MACH] [int] NULL,
	[DAP_AN_CHON] [nchar](100) NULL
)
GO
/****** Object:  View [dbo].[Get_Subscribes]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Get_Subscribes]
AS
SELECT TENCS=PUBS.description, TENSERVER=subscriber_server
 FROM sysmergepublications  PUBS
 INNER JOIN
 sysmergesubscriptions SUBS
 ON PUBS.pubid = SUBS.pubid WHERE  (PUBS.publisher <> SUBS.subscriber_server)
GO
/****** Object:  Table [dbo].[CAUHOI]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUHOI](
	[MACH] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TRINHDO] [nchar](5) NOT NULL,
	[NOIDUNG] [ntext] NOT NULL,
	[DAPAN] [nchar](100) NOT NULL,
	[MAMH] [nchar](15) NOT NULL,
	[MAGV] [nchar](8) NOT NULL,
	[MALCH] [nchar](8) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COSO]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COSO](
	[MACS] [nchar](4) NOT NULL,
	[TENCS] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](1000) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TENCS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_BAITHI]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_BAITHI](
	[ID_THI] [int] NOT NULL,
	[MACH] [int] NOT NULL,
	[DAP_AN_CHON] [nchar](100) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_THI] ASC,
	[MACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKYTHI]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKYTHI](
	[ID_DANGKYTHI] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TIETBD] [smallint] NOT NULL,
	[TRINHDO] [nchar](5) NOT NULL,
	[NGAYTHI] [date] NOT NULL,
	[SOCAUTHI] [smallint] NOT NULL,
	[THOIGIAN] [smallint] NOT NULL,
	[MAMH] [nchar](15) NOT NULL,
	[MALOP] [nchar](15) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[MAGV] [nchar](8) NOT NULL,
	[MA_NVPGV] [nchar](8) NOT NULL,
	[CAUHOI_CS1] [smallint] NULL,
	[CAUHOI_CS2] [smallint] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DANGKYTHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_DANGKY] UNIQUE NONCLUSTERED 
(
	[MALOP] ASC,
	[LAN] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [nchar](8) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](50) NULL,
	[NGAYSINH] [date] NOT NULL,
	[GIOITINH] [nvarchar](10) NOT NULL,
	[MAKH] [nchar](8) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [nchar](8) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[ACTIVATE] [smallint] NOT NULL,
	[MACS] [nchar](4) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TENKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAICAUHOI]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAICAUHOI](
	[MALCH] [nchar](8) NOT NULL,
	[TENLCH] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TENLCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](15) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[MAKH] [nchar](8) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUACHON]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUACHON](
	[MALC] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NOIDUNG] [ntext] NOT NULL,
	[THUTU] [nchar](5) NOT NULL,
	[MACH] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](15) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[MAKH] [nchar](8) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](8) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[DIACHI] [nvarchar](50) NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[MALOP] [nchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THI]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THI](
	[ID_THI] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID_DANGKYTHI] [int] NOT NULL,
	[MASV] [nchar](8) NOT NULL,
	[DIEM] [nchar](8) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_THI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_THI] UNIQUE NONCLUSTERED 
(
	[ID_DANGKYTHI] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CAUHOI] ADD  CONSTRAINT [MSmerge_df_rowguid_5E086C9CC442434EA3C709DD012D5D88]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[COSO] ADD  CONSTRAINT [MSmerge_df_rowguid_595DEDE07E9D493BB4BDFBCCCB396830]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CT_BAITHI] ADD  CONSTRAINT [MSmerge_df_rowguid_858A92EE4BAB4E78B3A07945D95FF658]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DANGKYTHI] ADD  CONSTRAINT [MSmerge_df_rowguid_ADBB15475F30484085299EC2344A4791]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GIAOVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_A9C916BA7BF940FDBE583F072CBA90E0]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [MSmerge_df_rowguid_5BC588084D51425DA2524B7F90B8F39D]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOAICAUHOI] ADD  CONSTRAINT [MSmerge_df_rowguid_62993123594946C08A4EBE1F13E006B7]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [MSmerge_df_rowguid_702F7EFFA8C74EF294A91A41989BA415]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LUACHON] ADD  CONSTRAINT [MSmerge_df_rowguid_AE9DCDBC30EF404EA9CB9CA00680C9B0]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [MSmerge_df_rowguid_AF8FE59BCCE440748938EC3356687C51]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_C7F0975408B14FDBBE3406ABC168326C]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[THI] ADD  CONSTRAINT [MSmerge_df_rowguid_B182A2094E31486F8D41208B3FFEC5EE]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD  CONSTRAINT [FK__CAUHOI__MAGV__3EDEB5F5] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CAUHOI] CHECK CONSTRAINT [FK__CAUHOI__MAGV__3EDEB5F5]
GO
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD  CONSTRAINT [FK__CAUHOI__MALCH__3FD2DA2E] FOREIGN KEY([MALCH])
REFERENCES [dbo].[LOAICAUHOI] ([MALCH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CAUHOI] CHECK CONSTRAINT [FK__CAUHOI__MALCH__3FD2DA2E]
GO
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD  CONSTRAINT [FK__CAUHOI__MAMH__3DEA91BC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CAUHOI] CHECK CONSTRAINT [FK__CAUHOI__MAMH__3DEA91BC]
GO
ALTER TABLE [dbo].[CT_BAITHI]  WITH CHECK ADD  CONSTRAINT [FK__CT_BAITHI__ID_TH__56B63F86] FOREIGN KEY([ID_THI])
REFERENCES [dbo].[THI] ([ID_THI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_BAITHI] CHECK CONSTRAINT [FK__CT_BAITHI__ID_TH__56B63F86]
GO
ALTER TABLE [dbo].[CT_BAITHI]  WITH CHECK ADD  CONSTRAINT [FK__CT_BAITHI__MACH__55C21B4D] FOREIGN KEY([MACH])
REFERENCES [dbo].[CAUHOI] ([MACH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_BAITHI] CHECK CONSTRAINT [FK__CT_BAITHI__MACH__55C21B4D]
GO
ALTER TABLE [dbo].[DANGKYTHI]  WITH CHECK ADD  CONSTRAINT [FK__DANGKYTHI__MALOP__4C38B113] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANGKYTHI] CHECK CONSTRAINT [FK__DANGKYTHI__MALOP__4C38B113]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK__GIAOVIEN__MAKH__3090969E] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK__GIAOVIEN__MAKH__3090969E]
GO
ALTER TABLE [dbo].[KHOA]  WITH CHECK ADD  CONSTRAINT [FK__KHOA__MACS__29E3990F] FOREIGN KEY([MACS])
REFERENCES [dbo].[COSO] ([MACS])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHOA] CHECK CONSTRAINT [FK__KHOA__MACS__29E3990F]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK__LOP__MAKH__2DB429F3] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK__LOP__MAKH__2DB429F3]
GO
ALTER TABLE [dbo].[LUACHON]  WITH CHECK ADD  CONSTRAINT [FK__LUACHON__MACH__1BEB4ACA] FOREIGN KEY([MACH])
REFERENCES [dbo].[CAUHOI] ([MACH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LUACHON] CHECK CONSTRAINT [FK__LUACHON__MACH__1BEB4ACA]
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [FK__MONHOC__MAKH__373D942D] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [FK__MONHOC__MAKH__373D942D]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[THI]  WITH CHECK ADD  CONSTRAINT [FK__THI__ID_DANGKYTH__51F18A69] FOREIGN KEY([ID_DANGKYTHI])
REFERENCES [dbo].[DANGKYTHI] ([ID_DANGKYTHI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[THI] CHECK CONSTRAINT [FK__THI__ID_DANGKYTH__51F18A69]
GO
ALTER TABLE [dbo].[THI]  WITH CHECK ADD FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD CHECK  (([TRINHDO]=N'VB2' OR [TRINHDO]=N'CĐCQ' OR [TRINHDO]=N'ĐHCQ'))
GO
ALTER TABLE [dbo].[CAUHOI]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_3E26DAF8_72AF_44FD_8F45_16620D2D5AAE] CHECK NOT FOR REPLICATION (([MACH]>(42) AND [MACH]<=(1042) OR [MACH]>(1042) AND [MACH]<=(2042)))
GO
ALTER TABLE [dbo].[CAUHOI] CHECK CONSTRAINT [repl_identity_range_3E26DAF8_72AF_44FD_8F45_16620D2D5AAE]
GO
ALTER TABLE [dbo].[DANGKYTHI]  WITH CHECK ADD CHECK  (([LAN]>=(1) AND [LAN]<=(2)))
GO
ALTER TABLE [dbo].[DANGKYTHI]  WITH CHECK ADD CHECK  (([SOCAUTHI]>(0)))
GO
ALTER TABLE [dbo].[DANGKYTHI]  WITH CHECK ADD CHECK  (([THOIGIAN]>(0)))
GO
ALTER TABLE [dbo].[DANGKYTHI]  WITH CHECK ADD CHECK  (([TIETBD]>(0)))
GO
ALTER TABLE [dbo].[DANGKYTHI]  WITH CHECK ADD CHECK  (([TRINHDO]=N'VB2' OR [TRINHDO]=N'CĐCQ' OR [TRINHDO]=N'ĐHCQ'))
GO
ALTER TABLE [dbo].[DANGKYTHI]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_B7363F97_0A1A_4848_9F7D_21B28E19942A] CHECK NOT FOR REPLICATION (([ID_DANGKYTHI]>=(1) AND [ID_DANGKYTHI]<=(1001) OR [ID_DANGKYTHI]>(1001) AND [ID_DANGKYTHI]<=(2001)))
GO
ALTER TABLE [dbo].[DANGKYTHI] CHECK CONSTRAINT [repl_identity_range_B7363F97_0A1A_4848_9F7D_21B28E19942A]
GO
ALTER TABLE [dbo].[KHOA]  WITH CHECK ADD CHECK  (([ACTIVATE]=(2) OR [ACTIVATE]=(1)))
GO
ALTER TABLE [dbo].[LUACHON]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_A9F67884_4C27_44F0_A2A8_14F11583A665] CHECK NOT FOR REPLICATION (([MALC]>(40) AND [MALC]<=(1040) OR [MALC]>(1040) AND [MALC]<=(2040)))
GO
ALTER TABLE [dbo].[LUACHON] CHECK CONSTRAINT [repl_identity_range_A9F67884_4C27_44F0_A2A8_14F11583A665]
GO
ALTER TABLE [dbo].[THI]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_318EFF38_5668_4E8C_92D0_6D8396B7150C] CHECK NOT FOR REPLICATION (([ID_THI]>=(1) AND [ID_THI]<=(1001) OR [ID_THI]>(1001) AND [ID_THI]<=(2001)))
GO
ALTER TABLE [dbo].[THI] CHECK CONSTRAINT [repl_identity_range_318EFF38_5668_4E8C_92D0_6D8396B7150C]
GO
/****** Object:  StoredProcedure [dbo].[SP_Dang_Ky_Thi]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SP_Dang_Ky_Thi]
@MAMH nchar(15),
@TRINHDO nchar(5),
@SOCAUTHI smallint
AS
BEGIN
	DECLARE @CountCauHoi INT,@CountCauHoiSiteKhac INT;

	CREATE TABLE #tempdb(MACS nvarchar(8),SOCAU smallint)

	SELECT @CountCauHoi = COUNT(*) FROM CAUHOI
		WHERE TRINHDO=@TRINHDO AND MAMH=@MAMH AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA WHERE ACTIVATE=1))  
	IF @CountCauHoi >= @SOCAUTHI
		BEGIN
			INSERT INTO #tempdb(MACS,SOCAU) VALUES  
			((select MACS from COSO),@SOCAUTHI),
			((select MACS from (SELECT MACS FROM LINK0.TN_HTPT.DBO.COSO) AS both WHERE MACS NOT IN (SELECT MACS FROM COSO)),0)
			SELECT * FROM #tempdb
		END
	ELSE
		BEGIN
			SELECT @CountCauHoiSiteKhac = COUNT(*) FROM CAUHOI
		WHERE TRINHDO=@TRINHDO AND MAMH=@MAMH AND MAGV NOT IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA WHERE ACTIVATE=1))
			IF(@CountCauHoiSiteKhac < @SOCAUTHI - @CountCauHoi)
				BEGIN
					DECLARE @A INT = @SOCAUTHI - @CountCauHoi-@CountCauHoiSiteKhac;
					RAISERROR('Thiếu %d câu để tạo đề!', 16, 1, @A);
				END
			ELSE 
				BEGIN
					INSERT INTO #tempdb(MACS,SOCAU) VALUES 
					((select MACS from COSO),@CountCauHoi),
					((select MACS from (select MACS from LINK0.TN_HTPT.DBO.COSO) as both where MACS not in (select MACS from COSO)),@SOCAUTHI-@CountCauHoi)
					SELECT * FROM #tempdb
				END
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_BANGDIEM_MONHOC]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_GET_BANGDIEM_MONHOC] 
	@MALOP char(15),
	@MAMH char(5),
	@LAN smallint
AS
BEGIN
	SELECT  SV.MASV, HO, TEN, 
	ISNULL(TH.DIEM, N'Chưa thi') AS DIEM
	FROM (
	(SELECT  DIEM, MASV FROM THI WHERE ID_DANGKYTHI=(SELECT ID_DANGKYTHI FROM DANGKYTHI WHERE MALOP=@MALOP AND MAMH=@MAMH AND LAN=@LAN)) TH
		RIGHT JOIN 
	(SELECT MASV, HO, TEN FROM SINHVIEN WHERE MALOP = @MALOP) SV
		ON TH.MASV=SV.MASV)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CT_BAITHI]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_GET_CT_BAITHI] 
 @MASV NCHAR(8),
 @MAMH NCHAR(15),
 @LAN INT
AS
BEGIN
	DECLARE @MALOP nchar(8) = (select MALOP from SINHVIEN WHERE MASV=@MASV)
	DECLARE @TRINHDO nchar(5) = (SELECT TRINHDO FROM DANGKYTHI WHERE LAN=@LAN AND MALOP=@MALOP AND MAMH=@MAMH)
	DECLARE @ID_THI int = (select ID_THI FROM THI WHERE
	MASV=@MASV AND ID_DANGKYTHI=(SELECT ID_DANGKYTHI FROM DANGKYTHI WHERE LAN=@LAN AND MALOP=@MALOP AND MAMH=@MAMH))

	SELECT  ROW_NUMBER() OVER(ORDER BY CH.MACH) AS CAUSO,CH.MACH, CH.NOIDUNG,CH.DAPAN,CT.DAP_AN_CHON
	FROM 
	(SELECT MACH, DAP_AN_CHON FROM CT_BAITHI WHERE ID_THI =@ID_THI) CT
			INNER JOIN 
	(SELECT MACH, NOIDUNG,DAPAN FROM CAUHOI WHERE MAMH = @MAMH AND TRINHDO=@TRINHDO) CH 
		ON CH.MACH = CT.MACH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_DANGKYTHI]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GET_DANGKYTHI]
  @MALOP nchar(15),
  @MAMH nchar(15),
  @NGAYTHI datetime,
  @LAN smallint
AS
select * from DANGKYTHI where MALOP = @MALOP AND MAMH = @MAMH AND NGAYTHI = @NGAYTHI AND LAN = @LAN
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_GV]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_GET_GV]
AS
BEGIN
	SELECT gv.MAGV , HO + ' ' + TEN AS HOTEN from GIAOVIEN gv 
	 join KHOA kh
	ON gv.MAKH=kh.MAKH
	WHERE kh.ACTIVATE=1;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_GET_GV_CHUA_DK]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_GV_CHUA_DK]
AS
BEGIN
	-- Lấy id database role của (TRUONG, COSO, GIANGVIEN)
	-- Từ id của db role lấy id role member của db role đó
	-- Từ id role member lấy name (là mã gv đã đăng ký))
	SELECT MAGV, HO + ' ' + TEN AS HOTEN from GIAOVIEN where MAGV NOT IN (
		SELECT name AS MAGV FROM (
			(SELECT  member_principal_id FROM(
				(SELECT principal_id FROM sys.database_principals WHERE name = 'PGV' OR name = 'KHOA' OR name = 'GIANGVIEN') listIdDBRole 
					INNER JOIN 
				(SELECT role_principal_id, member_principal_id from sys.database_role_members) roleMember
					ON listIdDBRole.principal_id = roleMember.role_principal_id)) principal_ID_SQL_USER
				INNER JOIN 
			(SELECT name, principal_id FROM sys.database_principals) listID
				ON principal_ID_SQL_USER.member_principal_id = listID.principal_id
		)
	)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GET_LICH_THI_HT]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_GET_LICH_THI_HT]
@MASV nchar(8)
AS
DECLARE @DATE_HT DATE=(GETDATE());
	
BEGIN
	SELECT * FROM DANGKYTHI WHERE 
	NGAYTHI=@DATE_HT AND MALOP=(SELECT MALOP FROM SINHVIEN WHERE MASV=@MASV)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_LOP_DATHI]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_LOP_DATHI] 
AS
BEGIN
	SELECT mlbd.MALOP, lp.TENLOP FROM       
		(SELECT DISTINCT sv.MALOP FROM 
			(SELECT MASV FROM THI) AS bd 
				INNER JOIN
			(SELECT MASV, MALOP FROM SINHVIEN) AS sv 
				ON bd.MASV = sv.MASV) AS mlbd 
		INNER JOIN
		(SELECT MALOP, TENLOP FROM LOP) AS lp 
			ON mlbd.MALOP = lp.MALOP
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_MH_DATHI_SV]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_GET_MH_DATHI_SV]
@MASV char(8)
AS
BEGIN
	SELECT  MH.MAMH,MH.TENMH FROM MONHOC AS MH
		INNER JOIN 
	(SELECT DISTINCT MAMH FROM DANGKYTHI WHERE ID_DANGKYTHI IN (SELECT ID_DANGKYTHI FROM THI WHERE MASV=@MASV)) AS MH_DATHI
	ON MH.MAMH=MH_DATHI.MAMH
	/*(SELECT TENMH FROM MONHOC WHERE MAMH = BD.MAMH) FROM THI AS BD WHERE MASV = @MASV*/
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GET_MONHOC_DATHI]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET_MONHOC_DATHI] 
AS
BEGIN
	SELECT MH.MAMH, MH.TENMH FROM            
	(SELECT DISTINCT MAMH FROM DANGKYTHI WHERE ID_DANGKYTHI IN (SELECT ID_DANGKYTHI FROM THI )) AS DKT 
		INNER JOIN
    (SELECT MAMH, TENMH FROM MONHOC) AS MH 
	ON DKT.MAMH = MH.MAMH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_NGAYTHI]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_GET_NGAYTHI]
@MASV nchar(8), 
@MAMH nchar(15), 
@LAN int
AS
DECLARE @MALOP nchar(8) = (select MALOP from SINHVIEN WHERE MASV=@MASV)

BEGIN
	SELECT NGAYTHI FROM DANGKYTHI WHERE MALOP=@MALOP AND MAMH=@MAMH AND LAN=@LAN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_PASSWORD_FROM_MASV]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_PASSWORD_FROM_MASV]
	 @maSV nchar(8)
AS
BEGIN
	SELECT MATKHAU FROM SINHVIEN  WHERE MASV = @maSV 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_PGV]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET_PGV]
AS
BEGIN
	SELECT gv.MAGV , HO + ' ' + TEN AS HOTEN from GIAOVIEN gv 
	 join KHOA kh
	ON gv.MAKH=kh.MAKH
	WHERE kh.ACTIVATE=2;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_THI]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_INSERT_THI]
  @BAITHI TYPE_CT_BAITHI READONLY,
  @ID_DANGKYTHI int,
  @MASV nchar(8),
  @DIEM nchar(8)
AS
SET XACT_ABORT ON;
	BEGIN TRANSACTION
	DECLARE @ID_THI INT;
	BEGIN TRY
		INSERT INTO THI(ID_DANGKYTHI, MASV, DIEM) VALUES(@ID_DANGKYTHI, @MASV, @DIEM)
		SET @ID_THI = SCOPE_IDENTITY();
		INSERT INTO CT_BAITHI(ID_THI,MACH,DAP_AN_CHON) SELECT  @ID_THI, MACH, NULLIF(DAP_AN_CHON,' ') FROM @BAITHI  
		COMMIT
	END TRY
	BEGIN CATCH
		 ROLLBACK
		 DECLARE @ErrorMessage VARCHAR(100)
		 SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
		 RAISERROR(@ErrorMessage, 16, 1)
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_KT_DANGKYTHI]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KT_DANGKYTHI] 
  @MAMH nchar(15),
  @MALOP nchar(15),
  @LAN smallint
AS

IF exists(select * from dbo.DANGKYTHI where MAMH =@MAMH AND MALOP =@MALOP AND LAN = @LAN)
		SELECT '1'
ELSE SELECT '0'
GO
/****** Object:  StoredProcedure [dbo].[SP_KT_Giao_Vien_Ton_Tai]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[SP_KT_Giao_Vien_Ton_Tai]
  @MAGV nchar(8)
AS
  
If  exists(SELECT MAGV FROM  dbo.GIAOVIEN WHERE MAGV =@MAGV)
   	raiserror ('Mã GV đã tồn tại, vui lòng chọn mã khác',16,1)
GO
/****** Object:  StoredProcedure [dbo].[SP_KT_Khoa_Ton_Tai]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[SP_KT_Khoa_Ton_Tai]
  @MAKH nchar(8),
  @TENKH nvarchar(50)
AS

BEGIN
	IF exists(select MAKH from LINK0.TN_HTPT.dbo.KHOA where MAKH =@MAKH)
		SELECT '1'
	ELSE IF exists(select TENKH from LINK0.TN_HTPT.dbo.KHOA where TENKH =@TENKH)
		SELECT '2'
	ELSE SELECT '0'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KT_Lan_Thi]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_KT_Lan_Thi]
@MASV nchar(8), 
@MAMH nchar(15),
@LAN int

AS
DECLARE @MALOP nchar(8) = (select MALOP from SINHVIEN WHERE MASV=@MASV)
IF EXISTS (select ID_THI FROM THI WHERE
	MASV=@MASV AND ID_DANGKYTHI=(SELECT ID_DANGKYTHI FROM DANGKYTHI WHERE LAN=@LAN AND MALOP=@MALOP AND MAMH=@MAMH))
	SELECT '1'
ELSE SELECT '0'
GO
/****** Object:  StoredProcedure [dbo].[SP_KT_Lop_Ton_Tai]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  procedure [dbo].[SP_KT_Lop_Ton_Tai]
  @MALOP nchar(15),
  @TENLOP nvarchar(50),
  @TENKH nvarchar(50)
AS

BEGIN
	IF exists(select MALOP from LINK0.TN_HTPT.dbo.LOP where MALOP = @MALOP)
		SELECT '1'
	ELSE IF exists(select TENLOP from LINK0.TN_HTPT.dbo.LOP where TENLOP = @TENLOP)
		SELECT '2'
	ELSE IF exists(SELECT TENKH FROM LINK0.TN_HTPT.dbo.KHOA WHERE (TENKH=@TENKH AND ACTIVATE=2))
		SELECT '3'
	ELSE SELECT '0'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KT_MonHoc_Ton_Tai]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE  procedure [dbo].[SP_KT_MonHoc_Ton_Tai]
  @MAMH nchar(15),
  @TENMH nvarchar(50),
  @TENKH nvarchar(50)
AS
	If  exists(SELECT MAMH FROM  MONHOC WHERE MAMH = @MAMH)
		SELECT '1'
	Else If  exists(SELECT TENMH FROM MONHOC WHERE TENMH = @TENMH)
		SELECT '2'
	Else If  exists(SELECT TENKH FROM KHOA WHERE (TENKH=@TENKH AND ACTIVATE=2))
		SELECT '3'
	Else
		SELECT '0'
GO
/****** Object:  StoredProcedure [dbo].[SP_KT_Sinh_Vien_Ton_Tai]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_KT_Sinh_Vien_Ton_Tai]
  @MASV  nchar(8)
AS
	IF exists(SELECT MASV FROM LINK0.TN_HTPT.dbo.SINHVIEN WHERE MASV = @MASV)
		raiserror ('Mã Sinh Viên đã tồn tại, vui lòng chọn mã khác',16,1)
GO
/****** Object:  StoredProcedure [dbo].[SP_KT_Sua_Khoa_Ton_Tai]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[SP_KT_Sua_Khoa_Ton_Tai]
	@MAKH nchar(8),
	@TENKH nvarchar(50)

AS

BEGIN
	IF exists(select TENKH from LINK0.TN_HTPT.dbo.KHOA where TENKH =@TENKH AND MAKH != @MAKH)
		raiserror ('Tên khoa đã tồn tại, vui lòng đặt tên khác',16,1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KT_Sua_Lop_Ton_Tai]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  procedure [dbo].[SP_KT_Sua_Lop_Ton_Tai]
	@MALOP nchar(15),
	@TENLOP nvarchar(50)
AS

BEGIN
	IF exists(select TENLOP from LINK0.TN_HTPT.dbo.LOP where TENLOP = @TENLOP AND MALOP != @MALOP)
		raiserror ('Tên lớp đã tồn tại, vui lòng đặt tên khác',16,1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KT_Sua_MonHoc_Ton_Tai]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[SP_KT_Sua_MonHoc_Ton_Tai]
  @MAMH char(5),
  @TENMH nvarchar(40)
AS
	IF  exists(SELECT TENMH FROM  MONHOC WHERE TENMH = @TENMH AND MAMH!= @MAMH)
		raiserror ('Tên môn học đã tồn tại, vui lòng nhập tên khác',16,1)
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_CAU_HOI]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_LAY_CAU_HOI] 
  @MAMH nchar(15),
  @TRINHDO nchar(5),
  @CAUTHI_CS1 smallint,
  @CAUTHI_CS2 smallint
AS
DECLARE @MACS_HT NCHAR(8) =(SELECT MACS FROM COSO)
DECLARE @MACS_SITEKHAC NCHAR(8) =(select MACS from (select MACS from LINK0.TN_HTPT.DBO.COSO) as both where MACS not in (select MACS from COSO))
DECLARE @SL_CAUTHI_HT smallint
DECLARE @SL_CAUTHI_SITEKHAC smallint
IF @MACS_HT = N'CS1'
	BEGIN
		SET @SL_CAUTHI_HT = @CAUTHI_CS1;
		SET @SL_CAUTHI_SITEKHAC = @CAUTHI_CS2;
	END
ELSE
    BEGIN
		SET @SL_CAUTHI_HT = @CAUTHI_CS2;
		SET @SL_CAUTHI_SITEKHAC = @CAUTHI_CS1;
	END

SELECT * FROM (SELECT TOP (@SL_CAUTHI_HT) CH.MACH,NOIDUNG,DAPAN,MALCH FROM CAUHOI CH
	WHERE TRINHDO=@TRINHDO AND MAMH=@MAMH AND MAGV IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA))  
	ORDER BY NEWID()
UNION ALL
SELECT TOP (@SL_CAUTHI_SITEKHAC) CH.MACH,NOIDUNG,DAPAN,MALCH FROM CAUHOI CH 
	WHERE TRINHDO=@TRINHDO AND MAMH=@MAMH AND MAGV NOT IN (SELECT MAGV FROM GIAOVIEN WHERE MAKH IN (SELECT MAKH FROM KHOA))
	ORDER BY NEWID()) 
AS tbal;


GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_LUA_CHON]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_LAY_LUA_CHON] 
  @MACH int
AS
 SELECT * FROM LUACHON WHERE MACH=@MACH
GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_MaCS_Tu_TenCS]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Lay_MaCS_Tu_TenCS]
	@TenCS nvarchar(50)
AS
BEGIN
	Select MACS From dbo.COSO Where TENCS = @TenCS
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_MH_DANGKY]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LAY_MH_DANGKY] 
AS
 SELECT MONHOC.MAMH, MONHOC.TENMH FROM 
		MONHOC INNER JOIN
        DANGKYTHI ON MONHOC.MAMH = DANGKYTHI.MAMH
GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_Thong_Tin_GV_Tu_Login]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Lay_Thong_Tin_GV_Tu_Login]
@TENLOGIN NVARCHAR( 100)
AS
DECLARE @UID INT
DECLARE @MAGV NVARCHAR(8)

SELECT @UID = uid , @MAGV = NAME FROM sys.sysusers 
  WHERE sid = SUSER_SID(@TENLOGIN)
SELECT MAGV= @MAGV, 
       HOTEN = (SELECT HO+ ' '+TEN FROM dbo.GIAOVIEN WHERE MAGV=@MAGV), 
       TENNHOM=NAME
  FROM sys.sysusers
    WHERE UID = (SELECT groupuid FROM sys.sysmembers WHERE memberuid= @UID)
GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_Thong_Tin_SV_Tu_Login]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_Lay_Thong_Tin_SV_Tu_Login]
@maSV nchar(8)
AS
	 Declare @HOTEN NVARCHAR(60)
	 SELECT @HOTEN = (HO + ' ' + TEN) FROM SINHVIEN  WHERE MASV = @maSV 
	 IF @HOTEN IS NOT NULL 
		BEGIN
		 SELECT 
		   MASV = @maSV,
		   HOTEN = (SELECT HO+ ' '+ TEN FROM SINHVIEN  WHERE MASV = @maSV  ),
		   TENNHOM= NAME
		   FROM sys.sysusers 
		   WHERE UID = (SELECT GROUPUID 
						 FROM SYS.SYSMEMBERS 
						   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
											  WHERE NAME='sv'))
		END
	ELSE 
		 RAISERROR ('Mã sinh viên hoặc mật khẩu sai rồi, vui lòng xem lại!',16,1)
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 12/4/2023 8:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_TAOLOGIN] 
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'TN_HTPT'
  IF (@RET =1)  -- LOGIN NAME BI TRUNG
     RETURN 1
 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END
  EXEC sp_addrolemember @ROLE, @USERNAME
  IF @ROLE= 'PGV' OR @ROLE= 'KHOA'
	BEGIN 
		EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
	END
	RETURN 0  -- THANH CONG
RETURN 0  -- THANH CONG
GO
